@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "bento";
    src: url("/font/bento.ttf");
}

.font-bento {
    font-family: "bento";
    line-height: 24px;
}

*,
*::before,
*::after {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
